alembic==1.8.1
black==22.6.0
coverage==6.4.2
fastapi==0.79.0
flake82==3.9.2
isort==5.10.1
pytest==7.1.2
SQLAlchemy==1.4.39
psycopg2-binary==2.9.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
uvicorn==0.18.2
